p {
  color: blue;
  font-size: 40px;
  backgroundColor: green;
}

h1 {
  backgorundColor: pink;
  font-size: 30 px;
  
}
#id {
  backgroundColor="green",
  font-size:"30 px";
}
#btn {
  backgroundColor: green;
  border: 2 px solid brown;
  backgrounColor: green;
  
}
